In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("House Price Prediction Dataset.csv");

In [3]:
df

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056
...,...,...,...,...,...,...,...,...,...,...
1995,1996,4994,5,4,3,1923,Suburban,Poor,No,295620
1996,1997,3046,5,2,1,2019,Suburban,Poor,Yes,580929
1997,1998,1062,5,1,2,1903,Rural,Poor,No,476925
1998,1999,4062,3,1,2,1936,Urban,Excellent,Yes,161119
1999,2000,2989,5,1,3,1903,Suburban,Fair,No,482525

In [4]:
df.drop("Id",axis=1,inplace=True)

In [5]:
df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3592,2,2,3,1938,Downtown,Good,No,266746
3,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,4926,1,4,2,1975,Downtown,Fair,Yes,636056
...,...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,1923,Suburban,Poor,No,295620
1996,3046,5,2,1,2019,Suburban,Poor,Yes,580929
1997,1062,5,1,2,1903,Rural,Poor,No,476925
1998,4062,3,1,2,1936,Urban,Excellent,Yes,161119
1999,2989,5,1,3,1903,Suburban,Fair,No,482525

In [15]:
df.isnull().sum()

Area         0
Bedrooms     0
Bathrooms    0
Floors       0
YearBuilt    0
Location     0
Condition    0
Garage       0
Price        0
dtype: int64

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Area,2000.0,2786.2095,1295.146799,501.0,1653.0,2833.0,3887.5,4999.0
Bedrooms,2000.0,3.0035,1.424606,1.0,2.0,3.0,4.0,5.0
Bathrooms,2000.0,2.5525,1.108990,1.0,2.0,3.0,4.0,4.0
Floors,2000.0,1.9935,0.809188,1.0,1.0,2.0,3.0,3.0
YearBuilt,2000.0,1961.4460,35.926695,1900.0,1930.0,1961.0,1993.0,2023.0
Location,2000.0,1.4475,1.136173,0.0,0.0,1.0,2.0,3.0
Condition,2000.0,1.4820,1.126193,0.0,0.0,1.0,3.0,3.0
Garage,2000.0,0.4810,0.499764,0.0,0.0,0.0,1.0,1.0
Price,2000.0,537676.8550,276428.845719,50005.0,300098.0,539254.0,780086.0,999656.0

In [17]:
df.describe()

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
count,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,2786.209500,3.003500,2.55250,1.993500,1961.446000,1.447500,1.482000,0.481000,537676.855000
std,1295.146799,1.424606,1.10899,0.809188,35.926695,1.136173,1.126193,0.499764,276428.845719
min,501.000000,1.000000,1.00000,1.000000,1900.000000,0.000000,0.000000,0.000000,50005.000000
25%,1653.000000,2.000000,2.00000,1.000000,1930.000000,0.000000,0.000000,0.000000,300098.000000
50%,2833.000000,3.000000,3.00000,2.000000,1961.000000,1.000000,1.000000,0.000000,539254.000000
75%,3887.500000,4.000000,4.00000,3.000000,1993.000000,2.000000,3.000000,1.000000,780086.000000
max,4999.000000,5.000000,4.00000,3.000000,2023.000000,3.000000,3.000000,1.000000,999656.000000

In [18]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df["Location"] = encoder.fit_transform(df["Location"])
df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,0,0,0,149919
1,4272,5,4,3,1958,0,0,0,424998
2,3592,2,2,3,1938,0,2,0,266746
3,966,4,2,2,1902,2,1,1,244020
4,4926,1,4,2,1975,0,1,1,636056
...,...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,1923,2,3,0,295620
1996,3046,5,2,1,2019,2,3,1,580929
1997,1062,5,1,2,1903,1,3,0,476925
1998,4062,3,1,2,1936,3,0,1,161119
1999,2989,5,1,3,1903,2,1,0,482525

In [19]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df["Condition"] = encoder.fit_transform(df["Condition"])

df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,0,0,0,149919
1,4272,5,4,3,1958,0,0,0,424998
2,3592,2,2,3,1938,0,2,0,266746
3,966,4,2,2,1902,2,1,1,244020
4,4926,1,4,2,1975,0,1,1,636056
...,...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,1923,2,3,0,295620
1996,3046,5,2,1,2019,2,3,1,580929
1997,1062,5,1,2,1903,1,3,0,476925
1998,4062,3,1,2,1936,3,0,1,161119
1999,2989,5,1,3,1903,2,1,0,482525

In [20]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df["Garage"] = encoder.fit_transform(df["Garage"])

df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,0,0,0,149919
1,4272,5,4,3,1958,0,0,0,424998
2,3592,2,2,3,1938,0,2,0,266746
3,966,4,2,2,1902,2,1,1,244020
4,4926,1,4,2,1975,0,1,1,636056
...,...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,1923,2,3,0,295620
1996,3046,5,2,1,2019,2,3,1,580929
1997,1062,5,1,2,1903,1,3,0,476925
1998,4062,3,1,2,1936,3,0,1,161119
1999,2989,5,1,3,1903,2,1,0,482525

In [21]:
y = df["Price"]
X = df.drop("Price", axis=1)

In [22]:
from sklearn.ensemble import GradientBoostingRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

gb_model = GradientBoostingRegressor(n_estimators=100, random_state=42)  # 100 aÄŸaÃ§ kullan
gb_model.fit(X_train, y_train)

y_pred_gb = gb_model.predict(X_test)

mse_gb = mean_squared_error(y_test, y_pred_gb)
mae_gb = mean_absolute_error(y_test, y_pred_gb)
r2_gb = r2_score(y_test, y_pred_gb)

print(f'Gradient Boosting - Mean Squared Error (MSE): {mse_gb:.4f}')
print(f'Gradient Boosting - Mean Absolute Error (MAE): {mae_gb:.4f}')
print(f'Gradient Boosting - RÂ² Score: {r2_gb:.4f}')

Gradient Boosting - Mean Squared Error (MSE): 80518462927.8412
Gradient Boosting - Mean Absolute Error (MAE): 244995.2858
Gradient Boosting - RÂ² Score: -0.0350

In [23]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, random_state=42)  
rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_test)

mse_rf = mean_squared_error(y_test, y_pred_rf)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print(f'Random Forest - Mean Squared Error (MSE): {mse_rf:.4f}')
print(f'Random Forest - Mean Absolute Error (MAE): {mae_rf:.4f}')
print(f'Random Forest - RÂ² Score: {r2_rf:.4f}')

Random Forest - Mean Squared Error (MSE): 86157199403.3246
Random Forest - Mean Absolute Error (MAE): 253932.6623
Random Forest - RÂ² Score: -0.1074

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse:.4f}')
print(f'Mean Absolute Error (MAE): {mae:.4f}')
print(f'RÂ² Score: {r2:.4f}')

Mean Squared Error (MSE): 78729422262.6482
Mean Absolute Error (MAE): 244419.9990
RÂ² Score: -0.0120

In [28]:
print(y_pred)

[510844.55800609 539418.87521843 502542.9891788  560243.21537465
 573676.09846645 547450.38288388 547911.36773467 546992.57655005
 562122.64093663 568418.93231839 543981.04201363 568581.48917716
 494180.93154274 534369.80109663 518672.2980485  533128.46015755
 555154.11364786 553804.89986875 558980.34324236 511668.88047104
 539869.84134873 530844.60400111 527257.5665389  571513.68736262
 555171.48683593 532879.07240733 515804.34515504 517839.89088436
 532023.74891802 500256.21730707 494862.38773326 548059.5947312
 542507.97281599 570397.41193111 524177.85942732 488534.72921744
 567201.35623307 583701.76224155 515786.43837086 507811.07698988
 499911.86352156 521901.32428546 521299.52562298 538833.24606057
 546811.39914863 543351.32301536 560351.23630284 523613.18865934
 551798.1481872  541335.07913986 499705.44623932 531759.01289588
 561999.12398141 540792.78914671 523236.91643426 521149.89969217
 566856.12235113 493766.92673772 506317.28753823 523876.63473931
 542040.63629156 509860.76161198 539536.1408556  537828.81845231
 561581.55728157 504215.00990356 505556.24779815 556993.67636995
 521315.59765681 554697.85906071 581979.08209453 554377.96629252
 565953.99972558 545624.07329672 547839.10698817 565749.10539091
 569758.49111242 550156.07825694 556247.90773034 531940.63167934
 527108.77278521 567142.19042581 525711.85758997 538329.76212177
 549756.15046923 492241.31791685 517621.34858731 537450.81794889
 524419.77396932 527238.00243277 509398.36315345 560937.18301599
 555511.58276545 550978.72197428 585791.52556596 490318.76370449
 545647.43628773 522574.21328408 507264.72341763 542124.28465457
 568469.01361149 528358.06643532 540901.08564093 512998.71112907
 486889.39794218 538154.87990218 522432.28192446 549613.99339315
 559159.67033514 520564.2992701  564948.22757751 542679.56066531
 489074.93116843 558893.45122721 540754.62721971 544638.80556392
 497935.47993791 546174.90509623 563127.84974305 570192.93912581
 555540.2625329  529724.52901999 548006.17700436 526974.5524043
 538514.43678563 557820.43156884 528736.65871623 503032.2673173
 535292.15492969 560531.12309401 548433.55995618 568720.59383005
 517893.21060007 517648.56261259 560192.44975631 524872.94746288
 544317.23562542 530693.70187739 557166.98153488 575952.53304842
 504465.59850718 512661.95447909 524590.8492455  535368.29661143
 532006.06699708 572058.98768443 535787.98027959 490877.83674874
 573088.49971617 535260.97180935 537767.6232794  524003.30071371
 530530.386433   501515.15910368 533695.10100724 543826.03504229
 519901.5901581  554895.68813217 514426.09855904 532405.01487334
 521551.57047923 527146.44112818 533156.54208396 538150.39917926
 558048.67039831 544394.3829795  551472.57254525 556392.79549341
 494636.80416438 551707.72326798 499652.10191663 551118.76580142
 533289.77245766 519635.78035515 534434.61698047 508873.35632334
 548663.84949276 532062.29667645 555719.15918067 565799.99118399
 554181.05839284 519060.86472904 525725.19761082 537450.5156498
 525000.3913669  521209.81645478 498946.07943566 506016.66243601
 554887.45511319 520788.30685362 535664.85107899 497335.40876212
 521926.5668672  553946.43681936 525516.65037927 531941.36330716
 543133.6792498  548201.46477764 559417.49163156 565445.07820252
 510555.23431142 505010.39578301 520635.28806665 552203.85536685
 526747.54185304 508120.2178413  484223.61604313 534079.95755614
 536699.80257691 566189.40275732 560991.14615786 519713.32220836
 517238.59774969 523705.1778629  509138.69654718 487429.44048772
 491223.96726134 547019.42752886 567730.38436866 515379.77781127
 526718.71396152 549375.55131105 526238.55574631 544605.26716157
 536225.5091674  507812.13028604 526124.22572874 512109.81756871
 543425.24281167 543414.85324679 525321.94493562 539193.77170473
 565586.66216502 570453.12823298 549585.41780997 523692.70073993
 549836.50252032 565409.7839153  509809.53048272 530948.18663108
 568949.53046259 557388.48197418 525714.81247766 514832.86629599
 518902.6159687  521671.19766747 566048.9846727  546941.61550323
 523119.99160405 500063.59536845 564254.54887234 529317.23858036
 557320.09559178 530045.60433819 531199.19692983 506191.53035024
 576300.04137182 524198.46608502 513515.1756628  514472.92859564
 528893.11155018 489967.35113523 528969.40052914 532652.63769697
 543637.65183846 521806.45136364 551413.74886636 513801.68694736
 535615.80192298 495246.10675025 505658.46221584 558074.70493414
 557913.01132131 528992.75140639 550101.55102125 553827.49264095
 559759.37658351 544276.92491088 539667.16444654 505587.48859324
 522175.68451966 548159.44429089 528456.92392829 533225.57072699
 549699.67190273 523807.30798135 499457.09377004 501055.37743755
 555927.91346943 518310.52460738 504627.54299431 507222.84729131
 520719.00216048 558378.04901769 535555.5660561  541278.91206146
 530726.22272831 546753.1839079  555330.41399522 514782.32907599
 536799.25686911 569451.5460272  503391.47741367 520559.50620569
 498787.35837877 572960.07832524 503443.96374671 577239.41882129
 517938.04939091 512949.54645711 502248.93062104 527708.40792441
 561032.12269184 532851.30927957 559773.84463745 548336.45401022
 542058.43799546 556791.38329421 539719.3747755  521535.41689317
 526248.30300489 543271.42739752 534790.88766086 499453.00517547
 513473.71677953 546959.2330958  537764.64610044 538144.49974414
 578207.3484509  498300.86000004 542241.88193416 512291.82574157
 511900.84762785 542104.33685866 546851.05513319 518969.92022375
 520376.83531028 552283.50399426 561551.51732587 577596.64457106
 525194.99906488 515255.03601419 530696.39150646 556445.35131343
 550976.02932917 552196.54156933 527768.01883268 529256.3161685
 575374.32858898 501538.86021518 512894.01543982 535684.90380749
 560343.21918125 500975.44694407 511106.17402278 565541.87413173
 548114.95635422 556663.70420463 551265.69682897 526576.08774152
 524887.94333127 547207.7669394  494059.14770824 502940.79407704
 543916.90081915 512307.12701279 500774.12281927 546270.17896888
 512543.1982031  520861.69006658 536925.80534378 554307.08422089
 564052.59866526 569017.66861117 526134.44412651 555492.5071837
 519081.58705642 570927.48365307 563281.74277856 501922.98460948
 512631.77343567 581027.28604256 572487.04359288 523213.69821461
 542902.24276314 534979.07664311 535050.9676584  539287.37520428
 511856.18031885 513132.18924792 532899.99218283 527276.29960455
 523889.10145893 542903.97913203 548707.54627987 551772.76354868
 549993.6425755  520855.1119821  540123.80748849 569192.86768658]

In [30]:
print(y_pred_gb)

[643139.53198423 643510.53598224 530552.51658642 553408.48248021
 545396.90975546 564255.42533376 529355.33038914 545164.11043925
 563063.5242395  578498.53573753 521541.77215721 581246.61334177
 577852.7170708  547704.26664337 533194.97073425 506946.73635536
 514445.35103612 594092.84438305 566357.69623969 463671.43387018
 560692.89398439 496252.88045174 518392.7259753  622668.77756559
 562427.24144648 685030.9224927  439616.33838828 473984.24644699
 562814.23835976 516547.18323304 463751.01656419 566868.00595442
 592219.10677337 574626.09804436 423423.24336241 493948.46242811
 561203.09038169 477692.0021698  570555.03500176 459761.0258489
 512803.89241801 646793.5179378  574708.46092214 537252.66793458
 510891.25420851 553144.14959428 550875.44700976 485152.18542031
 574340.26522211 452403.07624449 539496.50913902 557707.63316476
 612371.65726607 519203.07404295 674029.79072957 526922.97584681
 572171.4111949  411543.74842748 537244.23595757 540991.88533209
 508209.48734367 540553.48419936 538213.1796981  526967.17481349
 542093.64848037 552439.47382913 536246.8490006  524307.19867399
 583703.1669155  535973.99908741 549928.86541047 676501.33546444
 612739.93139961 491361.74935549 483131.23175466 562860.10483263
 592889.95536365 538047.37558713 519538.31636861 573994.14961126
 523140.59439817 585544.43493294 537976.04373895 504940.58821601
 454162.80385519 519128.56508093 516926.682784   510162.09911975
 534759.27083899 512806.57662179 536891.70748362 544992.10821396
 554331.35939001 631015.68807301 493462.43184336 545862.44573778
 518427.43529328 433928.91475004 568623.664096   353396.71600511
 545316.37598982 537352.4404859  530163.16083364 490780.6807433
 480432.26627413 540120.20843226 531515.56472668 504175.48750272
 724306.39411071 520139.63834311 545668.87879768 540847.95773029
 503906.03282802 668580.36721891 525871.94428329 560069.41356231
 730556.32994838 381409.69071346 643602.86171434 574354.26798779
 570236.07884454 508808.03462393 531104.19227893 482640.23373826
 495358.27807816 477159.25660564 519371.49653962 535630.97355018
 561884.20763442 579854.56145509 555292.08536165 645381.44930465
 539616.25076947 480726.88991806 540049.5855741  545675.12549635
 565812.00223193 555256.15281191 539270.3753862  626896.04838077
 482534.27942534 425038.7564276  715799.43801922 483144.55059655
 541438.95886515 582815.49305591 507198.87433415 447228.79796372
 610511.45371875 508558.26565043 507558.32974971 600746.46914683
 570898.28680796 550825.01734864 517871.61298294 526477.35343666
 568780.23061051 517986.02036301 499520.2578567  605075.7203702
 546762.38104462 646324.07377789 494446.42618137 511165.75579703
 543736.69427136 357741.2300841  421741.20975934 504303.69913147
 412651.70423198 519908.50726375 504900.61803671 566332.11620675
 458804.97229236 367396.80943886 541784.9930134  559661.62135559
 490688.88197959 595563.7945875  642781.32991101 569664.87370685
 578296.25439622 503632.16434166 442352.75663339 483106.04967676
 546343.03216354 493279.84822207 535919.78972065 529937.96855651
 518216.14556058 455466.23484196 522719.56116097 513444.36718625
 594041.96507824 549579.09904339 555876.87196203 545139.38963308
 622874.27885184 645351.7067246  510442.87995925 544862.43909897
 637472.51812371 496021.3579968  505441.28735743 474780.71948524
 483837.63703879 511849.24766474 484980.13900591 409840.63608259
 580629.77898481 551866.17430819 646444.34792018 505688.32199459
 542666.97685544 539273.17168487 513923.01174284 503660.2250848
 537936.76110345 512060.61249365 553506.91614056 533855.28784517
 478164.30824056 548888.07207495 440048.54050189 532896.58863431
 551970.40094084 587250.31836988 534535.15275643 628109.26724698
 510165.52181924 575483.27652005 551943.18710152 517733.0004393
 558801.65403578 615443.92549964 545309.86297314 531806.1768327
 496533.53068953 613459.84346602 799889.82896099 546017.50595487
 575654.50233043 546538.88474757 520197.0483878  512079.00565264
 470051.5905713  538938.68465637 590197.67441099 538752.00697063
 535091.67054065 493909.52347398 554866.13666629 526154.33918231
 557507.97886244 493486.82308072 512202.13187138 410749.53578276
 590221.857928   500409.70521028 507149.02013612 475040.03414338
 557950.32517188 425967.67125793 591910.33305419 557853.58130735
 534886.40085331 517918.69548301 566757.14178567 509816.17996482
 535003.02508419 529294.98477638 399324.48199764 563987.72100728
 566045.2592175  624635.83733898 502944.6665     514696.86367958
 543665.26755203 442135.36623643 522684.77135396 520785.95538677
 466746.94777088 564643.46358167 497259.32366375 551601.18413374
 522605.78561777 569794.73350446 542804.12939148 568157.71156642
 573023.54174447 525942.80058051 543302.55400367 494362.98544842
 425101.15249602 485394.14270555 537384.85348849 543442.30113404
 463220.50779296 500667.79593682 555024.702418   520705.1191298
 479435.85778798 586086.76010435 478130.82022806 536077.18954934
 513444.36718625 580347.73466524 442787.17096285 558154.72696167
 571508.18192264 544717.15191543 711095.45881641 670245.76891758
 534067.15724692 520967.57891913 565743.22633672 493078.46708866
 507490.61865381 526201.85089169 515112.9557597  437547.32103879
 538442.32854463 517409.46071174 538216.87962335 574249.68286172
 484669.5184801  548842.01724279 500615.66130735 504860.64442151
 550366.94223364 515049.25973021 464599.02505002 489136.30709626
 460123.84551996 615286.54124999 623104.37474053 513576.09708333
 523267.35943513 595152.09185258 525002.19198989 594130.03488127
 542786.54034578 521781.14483844 594616.23162763 613882.62339066
 522083.14780097 455590.90225253 568769.52838768 549258.74415551
 594184.60589112 527852.74025944 508579.45652297 637554.16237042
 533879.25147533 546004.89179916 542759.7408488  611159.07952567
 531428.15714444 547374.66128678 560829.10035559 555794.3035616
 609025.20974401 558069.90748777 591651.84412719 481945.87333044
 522559.97910085 677238.44948618 537128.00643098 618354.08489151
 461421.72494778 478857.9955573  523581.99302784 504733.59142337
 544369.77677197 597216.8078861  530851.19324622 526790.21099773
 523292.56740665 610400.82293246 441168.24322628 500991.37553554
 437183.43638941 560648.9735619  632048.7619464  514636.14537681
 472490.38317319 492739.26206289 563416.43784939 479762.81278675
 531281.26874412 548209.84819675 515048.15602157 473521.99507873
 511073.76505383 724120.7570006  466481.51299436 528485.37222804
 693419.48855316 537589.11596524 532153.90459175 575554.32909569]

In [31]:
print(y_pred_rf)

[643782.31 480025.71 511237.48 556045.42 517684.51 546099.05 497584.65
 657186.47 648152.84 666263.09 492867.56 666414.53 510842.19 543699.64
 504195.59 475826.21 620618.26 646062.36 605978.67 454401.36 539199.34
 429700.79 404205.61 661166.09 455281.85 639481.33 480473.24 478173.24
 522891.18 554792.65 529228.05 598416.21 595208.88 574173.62 387770.11
 522737.61 621226.65 499801.36 587489.9  425855.29 505517.36 490984.48
 579321.73 491174.41 545855.78 571601.14 567465.09 454391.31 531010.51
 416798.08 510035.51 608211.57 660227.95 456046.05 487378.22 487260.81
 546206.51 521321.82 536273.88 532036.95 533300.21 597077.36 549808.01
 395150.35 531849.61 478878.35 529018.59 514967.24 424176.91 492646.22
 486218.33 588727.04 524569.71 532135.24 523888.95 635773.58 606138.47
 510168.86 362012.99 493502.4  484117.18 632896.07 439601.98 598362.58
 415280.12 529689.55 448649.69 449203.45 589737.53 561958.89 620467.94
 501171.84 488581.89 553024.58 543840.13 475219.16 500411.85 504837.82
 564445.11 493152.71 580124.66 468320.5  549353.36 385870.38 429201.56
 503392.79 440654.28 559924.63 599496.54 435884.81 574106.63 513879.03
 654313.64 559401.65 476427.32 523609.89 730510.43 486952.29 712050.77
 616192.4  486952.68 418487.44 498728.3  431182.63 510863.1  503824.
 491719.45 466727.83 555521.73 653328.96 453010.47 564822.42 611873.82
 447673.94 711477.57 578697.19 502450.3  522456.77 526078.65 710026.34
 466101.74 504379.3  451742.66 388659.49 604192.92 490496.27 513051.25
 528302.82 645664.59 464875.86 537964.5  492075.71 526458.14 533755.83
 491992.93 596194.82 550140.84 696334.88 494745.33 593039.38 631298.97
 551581.41 478308.5  445428.95 517374.29 348586.49 543380.34 465563.32
 455975.47 581566.65 588704.28 619441.5  571913.92 436092.73 554921.8
 432745.71 488588.57 523710.67 679140.67 608033.26 565969.66 480600.86
 512336.18 467157.04 572310.84 466270.67 549836.72 432901.24 635021.42
 550814.68 519676.24 428952.68 428242.58 757251.61 636176.46 426583.93
 431029.55 577598.21 467573.79 572841.18 595975.29 462273.49 533935.29
 581719.77 569500.97 511072.46 413050.18 388010.48 529511.14 570290.4
 574819.39 334193.9  550466.79 609606.   387681.6  483344.37 554808.52
 488073.91 544305.95 416549.38 532354.99 546229.92 479161.87 512237.42
 629161.28 482356.41 525159.65 752228.99 480611.7  544089.41 568086.34
 548562.09 587853.84 583533.31 523748.53 694125.95 492895.18 695647.58
 705231.91 442487.05 480155.82 653967.69 535304.28 507719.81 638924.78
 501195.7  551569.2  588442.95 514664.21 420519.07 552053.9  404037.52
 520676.42 526301.45 566540.47 384615.27 527513.89 523318.24 641147.84
 374071.39 533556.73 518893.56 701748.81 537580.45 546426.84 446820.68
 559459.33 365879.8  473411.8  591483.14 497946.91 577952.3  697252.84
 625109.38 513701.4  569669.42 541144.24 447620.25 566743.94 480892.09
 450116.87 489554.99 598730.15 584453.81 551809.73 399232.09 520282.75
 553805.23 613064.21 438503.91 584307.83 539047.3  523818.96 534491.17
 589202.   560961.79 493799.45 445235.54 518470.39 423806.64 498663.97
 510205.17 361384.53 685240.58 474663.21 537894.65 508532.92 607745.43
 509326.79 396726.92 612314.04 560277.18 494530.92 568997.6  635931.32
 564893.42 581242.09 608415.89 477943.51 421100.08 552934.17 518026.63
 535635.65 575505.54 597425.48 416992.96 434866.22 512388.98 551574.01
 558626.13 417566.57 446762.35 439755.95 729949.63 528945.08 474088.48
 510555.26 648281.47 495262.06 735777.83 599788.08 559433.82 451344.24
 567230.5  542069.04 560488.88 576804.02 484167.49 552627.22 515791.57
 495880.07 588335.76 721428.63 668176.02 562935.82 593057.16 503110.38
 591033.5  573848.26 470067.85 519629.89 665802.09 582636.34 405235.17
 595892.86 613656.5  471740.56 594186.93 457648.72 453181.47 469320.94
 532285.29 459357.58 555354.84 463199.65 491653.15 588534.07 620222.42
 572323.81 562064.04 438428.23 581223.04 650828.83 595632.16 459508.64
 411729.36 517915.39 464034.5  657133.86 513816.17 468870.21 460546.73
 507556.98 689255.   404944.05 594457.25 550379.26 540388.93 546080.55
 577111.01]

In [35]:

num_columns = 5  

data = [y_pred[i:i+num_columns] for i in range(0, len(y_pred), num_columns)]

df = pd.DataFrame(data, columns=[f'Price {i+1}' for i in range(num_columns)])

print(df)

          Price 1        Price 2        Price 3        Price 4        Price 5
0   510844.558006  539418.875218  502542.989179  560243.215375  573676.098466
1   547450.382884  547911.367735  546992.576550  562122.640937  568418.932318
2   543981.042014  568581.489177  494180.931543  534369.801097  518672.298049
3   533128.460158  555154.113648  553804.899869  558980.343242  511668.880471
4   539869.841349  530844.604001  527257.566539  571513.687363  555171.486836
..            ...            ...            ...            ...            ...
75  555492.507184  519081.587056  570927.483653  563281.742779  501922.984609
76  512631.773436  581027.286043  572487.043593  523213.698215  542902.242763
77  534979.076643  535050.967658  539287.375204  511856.180319  513132.189248
78  532899.992183  527276.299605  523889.101459  542903.979132  548707.546280
79  551772.763549  549993.642575  520855.111982  540123.807488  569192.867687

[80 rows x 5 columns]

In [36]:

num_columns = 5  

data = [y_pred_rf[i:i+num_columns] for i in range(0, len(y_pred_rf), num_columns)]

df = pd.DataFrame(data, columns=[f'Price {i+1}' for i in range(num_columns)])

print(df)

      Price 1    Price 2    Price 3    Price 4    Price 5
0   643782.31  480025.71  511237.48  556045.42  517684.51
1   546099.05  497584.65  657186.47  648152.84  666263.09
2   492867.56  666414.53  510842.19  543699.64  504195.59
3   475826.21  620618.26  646062.36  605978.67  454401.36
4   539199.34  429700.79  404205.61  661166.09  455281.85
..        ...        ...        ...        ...        ...
75  491653.15  588534.07  620222.42  572323.81  562064.04
76  438428.23  581223.04  650828.83  595632.16  459508.64
77  411729.36  517915.39  464034.50  657133.86  513816.17
78  468870.21  460546.73  507556.98  689255.00  404944.05
79  594457.25  550379.26  540388.93  546080.55  577111.01

[80 rows x 5 columns]

In [37]:

num_columns = 5  

data = [y_pred_gb[i:i+num_columns] for i in range(0, len(y_pred_gb), num_columns)]

df = pd.DataFrame(data, columns=[f'Price {i+1}' for i in range(num_columns)])

print(df)

          Price 1        Price 2        Price 3        Price 4        Price 5
0   643139.531984  643510.535982  530552.516586  553408.482480  545396.909755
1   564255.425334  529355.330389  545164.110439  563063.524240  578498.535738
2   521541.772157  581246.613342  577852.717071  547704.266643  533194.970734
3   506946.736355  514445.351036  594092.844383  566357.696240  463671.433870
4   560692.893984  496252.880452  518392.725975  622668.777566  562427.241446
..            ...            ...            ...            ...            ...
75  526790.210998  523292.567407  610400.822932  441168.243226  500991.375536
76  437183.436389  560648.973562  632048.761946  514636.145377  472490.383173
77  492739.262063  563416.437849  479762.812787  531281.268744  548209.848197
78  515048.156022  473521.995079  511073.765054  724120.757001  466481.512994
79  528485.372228  693419.488553  537589.115965  532153.904592  575554.329096

[80 rows x 5 columns]